form {
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 15px;
    height: 360px;
  }
  
  .form label {
    margin-top: 10px;
    font-weight: bold;
  }
  .radio-name {
    position: relative;
    top: 10px;
    left: 10px;
  }
  label,
  input,
  textarea {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 25px;
  }
  .text-position {
    height: 105px;
  }
  input,
  textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #2e2c2c;
    font-size: 16px;
  }
  input:focus,
  textarea:focus {
    outline: none;
    border-color: red;
  }
  input.invalid,
  textarea.invalid {
    border-color: #ff0000;
  }
  .radio-group {
    display: inline;
    margin-bottom: 20px;
    top: 25px;
  }
  .radio-group label {
    margin-right: 100px;
  }
  .radio-btn {
    position: relative;
    top: 1px;
    left: -107px;
  }
  .radio-name {
    position: relative;
    top: -24px;
    left: 71px;
  }
  .submit-btn {
    background-color: #1b99b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 250px;
    top: 27px;
  }
  
  #green-banner {
    display: hidden;
    position: relative;
    top: -233px;
    left: -181px;
    background-color: #def0d8;
    color: #518754;
    height: 35px;
    margin-left: 582px;
    margin-right: 398px;
    width: 735px;
  }
  .message-on-banner {
    position: relative;
    top: -30px;
    left: 72px;
    padding-right: 15px;
  }
  #checkIcon {
    position: relative;
    top: 7px;
    left: 10px;
    width:20px;
    height: 20px;
  }
  .x-btn {
    position: relative;
    border: none;
    color: #000000;
    background-color: #ffffff;
    font-size: 31px;
    top: -74px;
    left: 704px;
    width: 33px;
    height: 34px;
    cursor: pointer;
  }
  #alert-message {
    width: 735px;
    top: 210px;
    position: fixed;
    left: 410px;
    height: 35px;
    font-size: 20px;
  }
  
  .hidden {
    display: none;
  }
  
  .allRows {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 800px;
    height: 428px;
    margin-left: 400px;
    margin-right: 100px;
    top: 250px;
    border: 2px solid rgb(52, 50, 50);
  }
  .img-style {
    margin-left: 20px;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
  }